<header class="header container-md container-fluid">
  <div class="content-container">
    <div class="logo">
      <img src="assets/icons/logo.png" alt="Логотип Кэрэ" />
    </div>

    <nav class="nav-menu" [ngClass]="{ open: isMenuOpen }">
      <ul>
        <li><a href="#">О себе</a></li>
        <li><a href="#">Помощь</a></li>
        <li><a href="#">Доставка</a></li>
      </ul>
    </nav>

    <div class="icons">
      <a href="#"
        ><img src="./assets/icons/header/search-icon.png" alt="Поиск"
      /></a>
      <a href="#"
        ><img src="./assets/icons/header/cart-icon.png" alt="Корзина"
      /></a>
      <a href="#"
        ><img src="./assets/icons/header/profile-icon.png" alt="Профиль"
      /></a>
      <a href="#"
        ><img
          src="./assets/icons/header/menu-icon.png"
          alt="Menu"
          class="menu-icon"
          (click)="toggleMenu()"
      /></a>
    </div>
  </div>
</header>
