<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="Логотип Кэрэ" />
    </div>

    <nav class="nav-menu" [ngClass]="{ open: isMenuOpen }">
      <ul>
        <li><a href="#">О себе</a></li>
        <li><a href="#">Помощь</a></li>
        <li><a href="#">Доставка</a></li>
      </ul>
    </nav>

    <div class="icons">
      <a href="#"><img src="./assets/search-icon.png" alt="Поиск" /></a>
      <a href="#"><img src="./assets/cart-icon.png" alt="Корзина" /></a>
      <a href="#"><img src="./assets/profile-icon.png" alt="Профиль" /></a>
      <a href="#"
        ><img
          src="./assets/menu-icon.png"
          alt="Menu"
          class="menu-icon"
          (click)="toggleMenu()"
      /></a>
    </div>
  </div>
</header>
