<div class="container">
  <app-back-button></app-back-button>
  <div class="product-card">
    <img
      src="assets/example/beads.png"
      alt="Image"
      class="product-card__image"
    />
    <div class="product-card__info">
      <p class="product-card__info-title">
        {{ productStore.currentProduct()?.title }}
      </p>
      <p class="product-card__info-price">
        {{ productStore.currentProduct()?.price }} ₽
      </p>
      <p class="product-card__info-description">
        {{ productStore.currentProduct()?.description }}
      </p>
      <button mat-flat-button (click)="addToCart()">Добавить в корзину</button>
    </div>
  </div>
</div>
