.cart-item {
  display: flex;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 20px;
  background-color: #fafafa;
  gap: 24px;

  @media (width <= 768px) {
    flex-direction: column;
  }

  @media (width <= 768px) {
    flex-direction: column;
  }

  &__block {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    gap: 8px;

    button {
      display: flex;
    }

    @media (width <= 576px) {
      flex-direction: column;
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-empty {
  text-align: center;
}
